// 表单类
.form-item {
    background: #fff;
    border-radius: 18rpx;
    padding: 0 25rpx;
    position: relative;
    height: 90rpx;

    input {
        color: $text-primary;
        height: 100%;
        font-size: 25rpx;

        &::placeholder {
            color: #999999;
        }
    }

}


.box-shadow {
    box-shadow: 0rpx 4rpx 10rpx  #00000040;
}
view {
  -webkit-tap-highlight-color: transparent !important;
}